:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --text-color: #333;
  --background-color: #f4f4f4;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 75%;
  text-align: center;
  color: white;
  background-color: var(--primary-color);
  padding: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  background-color: white;
  width: 60%;
  padding: 2rem;
  margin-top: 2rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section > h2 {
  color: var(--primary-color);
  margin-bottom: 1rem;
}

ul > li {
  margin-top: 8px;
}

form,
label,
input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

input,
select,
button {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
}

button {
  background-color: var(--secondary-color);
  margin-top: 1rem;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 20%;
}

button:hover {
  background-color: #28b161;
  width: 20%;
}

footer {
  background-color: var(--primary-color);
  width: 75%;
  color: white;
  margin-top: 1.5rem;
  padding: 2rem;
  display: block;
  text-align: center;
}
